body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20vmin;
    margin: 30px auto;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.canvas {
    padding: 2vmin;
    border: 2px solid black;
    border-radius: 2vmin;
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 30px);
    background-color: lightgrey;
}

.cell {
    height: 30px;
    background: lightgray;
}

.player, .enemy {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.info {
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}