.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 10px 10px;
    margin: 30px auto;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.canvas {
    padding: 2vmin;
    border: 2px solid black;
    border-radius: 2vmin;
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 30px);
    background-color: grey;
}

.cell {
    height: 30px;
    background: gray;
}

.player, .enemy {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.player {
    background-color: #14c6f3;
}
.enemy {
    background-color: #f31414;
}

.info {
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}