@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Righteous&display=swap');

body {
    font-family: 'Righteous', cursive;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('plane.jpg');
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: calc(1.1em + 2vh);
    margin-bottom: 0;
    font-family: 'Aoboshi One', serif;
}

.info {
    display: flex;
    font-size: calc(0.5em + 1vh);
    width: 32vh;
    margin-top: 2vh;
    margin-bottom: 5px;
    justify-content: space-between;
}

.message {
    position: absolute;
    top: 35vh;
    z-index: 2;
    width: calc(360vh / 12);
    height: 30vh;
    padding: 4vmin 2vmin;
    border-radius: 3vmin;
    background-color: rgb(168, 212, 224);
    font-size: calc(1em + 2vh);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    opacity: 0.9;
}

.messageStart { 
    position: absolute;
    top: 40vh;
    z-index: 1;
    width: calc(360vh / 12);
    font-size: calc(1em + 1vh);
    font-weight: bold;
    line-height: 2em; 
    text-align: center;
    opacity: 0.9;
}

.playAgain {
    font-size: 1rem;
    align-self: end;
}

.init {
    align-self: center;
    border: none;
    border-radius: 2vmin;
    width: 20vw;
    height: 6vh;
    padding: 2vmin;
    font-size: 1rem;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    background-color: white;
}

.canvas {
    padding: 2vmin;
    margin-bottom: 5vh;
    border: 3px solid rgb(171, 231, 254);
    border-radius: 5vmin;
    background-color: rgb(197, 242, 255);
    display: inline-grid;
    gap: 5px;
    grid-template-columns: repeat(5, calc(72vh / 12));
    position: relative;
}

.cell {
    height: calc(72vh / 12);
}

.player, .enemy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    color: rgb(43, 156, 242);
}

.enemy {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    color: lightsalmon;
}